<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>   
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>       
        <load-on-startup>1</load-on-startup>             
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <session-config>
        <!-- Session idle timeout in min. -->
        <session-timeout>1440</session-timeout>
        <!--<session-timeout>3</session-timeout>-->
    </session-config>
    <welcome-file-list>
        <welcome-file>log/index.xhtml</welcome-file>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>#{userSession.currentTheme}</param-value>
    </context-param>
    <security-constraint>
        <display-name>API Security Constraints</display-name>
        <web-resource-collection>
            <web-resource-name>REST API</web-resource-name>
            <description>Restful API</description>
            <url-pattern>/api/rest/*</url-pattern>
        </web-resource-collection>
        <!--        <user-data-constraint>
            <description>HTTPS Only</description>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>-->
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>org.openepics.discs</realm-name>
    </login-config>
    <security-role>
        <description>User of Hour Log API</description>
        <role-name>APIUSER</role-name>
    </security-role>
    
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error/error.xhtml</location>
    </error-page>
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/error/viewExpire.xhtml</location>
    </error-page>
    
    <!-- Login filter -->
    <!-- 
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>org.openepics.discs.hourlog.auth.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/cache/*</url-pattern>
        <url-pattern>/log/*</url-pattern>
        <url-pattern>/notes/*</url-pattern>
        <url-pattern>/adminfo/*</url-pattern>
        <url-pattern>/prefs/*</url-pattern>
        <url-pattern>/shift/*</url-pattern>
        <url-pattern>/report/*</url-pattern>
    </filter-mapping>
    -->
    <!-- Admin filter -->
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>org.openepics.discs.hourlog.auth.AdminAuthFilter</filter-class>
    </filter>   
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
</web-app>
